.button-raised{
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(77,102,204);
    -fx-pref-width: 75;
    -fx-text-fill: WHITE;
}

.button-small-white{
    -jfx-button-type: RAISED;
    -fx-background-color: #FFFFFF;
    -fx-pref-width: 140;
    -fx-pref-height: 45;
    -fx-text-fill: BLACK;
    -fx-font-family: "Roboto";
}

.button-small-blue{
    -jfx-button-type: RAISED;
    -fx-background-color: #0D47A1;
    -fx-pref-width: 140;
    -fx-pref-height: 45;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Roboto";
}

.button-big-blue{
    -jfx-button-type: RAISED;
    -fx-background-color: #0D47A1;
    -fx-pref-width: 300;
    -fx-pref-height: 45;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Roboto";
}

.combo-box{
    -fx-border-width: 0px;
    -fx-background-color: WHITE;
    -fx-font-family: "Roboto";
    -fx-text-fill: BLACK;
    -fx-underline: true;
}


.drawerAnchorPane{
    -fx-background-color: #FFFFFF;
}

.drawerRightPanel{
    -fx-background-color: #1565C0;
}

.jfx-hamburger-icon{
    -fx-spacing: 5;
    -fx-cursor: hand;
}
.jfx-hamburger-icon StackPane{
    -fx-pref-width: 24px;
    -fx-pref-height: 3px;
    -fx-background-color : #FFFFFF;
    -fx-background-radius : 1px;
}

.anchorPane-main{
    -fx-background-color : #0D47A1;
}

.paneLeft{
    -fx-background-color : #1565C0;
}

.coordinatePane{
    -fx-background-color : #FFFFFF;
    -fx-border-color: #E0E0E0;
    -fx-border-image-width: 1px;
    -fx-border-radius: 3px;
}

@font-face {
    src: url('/styles/fonts/Roboto-Medium.ttf');
}

.text{
    -fx-font-family: "Roboto";
    -fx-faint-focus-color: white;
    -fx-highlight-text-fill: white;
}

.jfxTextField{
    -fx-font-family: "Roboto";
    -fx-faint-focus-color: #424242;
    -fx-highlight-text-fill: #424242;

}

.table-view, .tree-table-view {
    /* Constants used throughout the tableview. */
    -fx-table-header-border-color: transparent;
    -fx-table-cell-border-color: -fx-box-border; /* Horizontal Lines*/
    -fx-background-color: transparent;
}

/* The column header row is made up of a number of column-header, one for each
   TableColumn, and a 'filler' area that extends from the right-most column
   to the edge of the tableview, or up to the 'column control' button. */
.table-view .filler, .tree-table-view .filler, .table-view .column-header,
.tree-table-view .column-header {
    -fx-size: 65;
    -fx-border-style: null;
    -fx-border-color: #d2d5db;
    -fx-border-width: 0 0 2 0;
    -fx-background-color: transparent;
}

.table-view .show-hide-columns-button, .tree-table-view .show-hide-columns-button
{
    -fx-background-color: transparent;
}

.table-view .column-header .label, .table-view .filler .label,
.table-view .column-drag-header .label, .tree-table-view .column-header .label,
.tree-table-view .filler .label, .tree-table-view .column-drag-header .label
{
    -fx-alignment: CENTER_LEFT;
}

.table-view .column-header-background, .tree-table-view .column-header-background
{
    -fx-background-color: transparent;
}

.table-row-cell, .tree-table-row-cell {
    -fx-cell-size: 30px;
    -fx-padding: 5px;
}

.table-cell {
    -fx-border-color: transparent; /* Vertical Lines*/
    -fx-border-width: 1;
}
/* Scrollbar tło */
.track {
    -fx-background-color: transparent;
}
/* Scrollbar suwak */
.thumb {
    -fx-background-color: grey;
    -fx-border-radius: 0px;
    -fx-background-radius: 1.0;
}
